{% extends "base.html" %}

{% block main_content %}

<h1>About Us</h1>
<h2>Fun and Friendly LeetCode Competition!</h2>

  <p>
    Preparing for technical interviews can be stressful and discouraging, especially when you're
    trying to stay consistent on your own. We wanted to make the process more supportive,
    social, and enjoyable.
  </p>

  <p>
    Our platform helps friend groups stay motivated by turning LeetCode practice into a
    friendly competition. You can track progress together, encourage each other, and build
    positive habits without feeling isolated.
  </p>

  <p>
    Whether you're preparing for internship recruiting or full-time interviews, our goal is to
    make the experience more manageable and more fun!
  </p>
  
  <p> 
    Created by Sophie Lin, Ashley Yang, Nessa Tong, and Jessica Dai.
  </p>
{% endblock %}
