<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>

{% block nav %}
<nav class="navbar">
  <ul class="nav-left">
    <li><a href="{{url_for('index')}}">Home</a></li>
    <li><a href="{{url_for('about')}}">About</a></li>
  </ul>

  <div class="nav-right">
    {% if session.get('pid') %}
      <a href="{{ url_for('profile') }}">
        <!-- CURRENTLY NOT YET IMPLEMENTED NEED TO ADD PFP PHOTO INTO DDL OF PERSON TABLE -->
        <img src="{{ session.get('pfp_url', '/static/default_pfp.png') }}" 
             class="profile-pic">
      </a>
    {% else %}
      <a href="{{ url_for('login') }}" class="login-link">Log In</a>
    {% endif %}
  </div>
</nav>
{% endblock %}


{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
            
{% block main_content %}
<h1>Welcome!</h1>
{% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  {% block end_scripts %}
  {% endblock %}
  
</body>
</html>
