<!doctype html>
<html lang='en'>
<head>
    <meta charset='utf-8'>
    <!-- for mobile-friendly pages -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name=author content="">
    <title>{{ page_title }}</title>
    <link rel='stylesheet' href="{{url_for('static', filename = 'style.css')}}">
    {% block head_stuff %} {% endblock %}
</head>
<body>

{% block nav %}
<nav class="navbar">
  <ul class="nav-left">
    <li><a href="{{ url_for('index') }}" class="btn">Home</a></li>
    <li><a href="{{ url_for('about') }}" class="btn">About</a></li>

    {% if session.get('pid') %}
    <li><a href="{{url_for('find_friends')}}" class="btn">Find Friends</a></li>
    <li class="dropdown">
      <a href="#" class="btn dropbtn">Code Parties! ▼</a>
      <div class="btn dropdown-content">
        <a href="{{ url_for('create_party') }}">Create Party</a>
        <a href="{{ url_for('my_parties') }}">My Parties!</a>
      </div>
    </li>
    {% endif %}
  </ul>

  <div class="nav-right">
    {% if session.get('pid') %}
      <a href="{{ url_for('profile', pid=session.get('pid')) }}"> 
        <!-- CURRENTLY NOT YET IMPLEMENTED NEED TO ADD PFP PHOTO INTO DDL OF PERSON TABLE -->
        <img src="{{ session.get('pfp_url', '/static/default_pfp.jpg') }}" 
             class="profile-pic"
             alt="profile pic">
             
      </a>
    {% else %}
      <a href="{{ url_for('login') }}" class="btn">Log In</a>
    {% endif %}
  </div>
</nav>
{% endblock %}



            
<div class="main-content">
{% with messages = get_flashed_messages() %}
{% if messages %}
<div id="messages">
  {% for msg in messages %}
  <p>{{msg}}</p>
  {% endfor %}
</div>
{% endif %}
{% endwith %}
{% block main_content %}
<h1>Welcome!</h1>
{% endblock %}

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
  {% block end_scripts %}
  {% endblock %}
</div>
  
</body>
</html>
