{% extends "base.html" %}

{% block main_content %}
<h1>Code Parties</h1>

<h2>Create a New Party</h2>

<form method="POST" action="{{ url_for('create_party') }}">
    <fieldset>
        <legend>Party Details</legend>
        <label>Party Goal (number of problems)</label>
        <input type="number" name="party_goal" required>

        <label>Start Date</label>
        <input type="date" name="party_start" required>

        <label>End Date</label>
        <input type="date" name="party_end" required>
    </fieldset>

    <fieldset>
        <legend>Invite Friends</legend>
        {% if connections %}
            {% for user in connections %}
                {% if user.in_party %}
                    <label style="color:gray;">
                        {{ user.lc_username }} (Already in this party)
                    </label><br>
                {% else %}
                    <input type="checkbox" name="invitees" value="{{ user.pid }}">
                    <label>{{ user.lc_username }}</label><br>
                {% endif %}
            {% endfor %}
        {% else %}
            <p>You have no connections to invite.</p>
        {% endif %}
    </fieldset>

    <button type="submit">Create Party & Invite</button>
</form>
{% endblock %}
