{% extends "base.html" %}

{% block main_content %}

<h1>Find Friends</h1>

<!-- Search Bar -->
<form method="POST" action="{{ url_for('find_friends', pid=pid) }}">
    <label for="search_query" class="sr-only">Search users</label>
    <input type="text" id="search_query" name="search_query" placeholder="Search for a user..." required>
    <input class="btn btn-sm" type="submit" name="action" value="Search">
</form>
<!-- ONLY visible when there are results-->
{% if search %}

    <!-- Back Button -->
    <form method="GET" action="{{ url_for('find_friends', pid=pid) }}">
        <button class="btn btn-sm" type="submit">Back</button>
    </form>
{% endif %}

<br>

  <!--Search Query results (ONLY visible when used search) -->
{% if search %}
    <h2>Searching for {{search_term}}</h2>
    {% if friends|length < 1 %}
        <p>No users match your search.</p>
    {% endif %}
{% endif %}

<ul>
<!-- Fallback results when no more users -->
{% if friends|length < 1  and not search %}
    <p>No more users to follow!</p>
{% endif %}

{% for friend in friends %}
    <li>
      <div class="user-wrapper people-user-cell" tabindex="0">
        <span>{{ friend.name }}</span>
        <div class="user-popover">
          <a href="{{ url_for('profile', pid=friend.pid) }}">
              View LeetParty Profile
          </a>
          <a href="https://leetcode.com/u/{{ friend.lc_username }}/"
             target="_blank" rel="noopener">
              View LeetCode Profile
          </a>
        </div>

        <form method="POST" action="{{ url_for('find_friends', pid=pid) }}">
          <input type="hidden" name="follow_friend" value="{{ friend.pid }}">
          <input class="btn btn-sm" type="submit" name="action" value="Follow">
        </form>
      </div>
    </li>
  {% endfor %}
</ul>

<a href="{{ url_for('profile', pid=pid) }}">
    <button type="button" class="btn">Go Back To Profile</button>
</a>

{% endblock %}
