{% extends "base.html" %}

{% block main_content %}
<h2>Your Profile</h2>

<div id="profile-info"> 
     <img src="{{ profile.pfp_url or '/static/default_pfp.jpg' }}"
          style="width:150px;height:150px;border-radius:50%;object-fit:cover;">

     <p>Name: {{ profile.name }}</p>
     <p>Leetcode Username: {{ profile.lc_username }}</p>
     <p>Current Streak: {{ profile.current_streak }}</p>
     <p>Longest Streak: {{ profile.longest_streak }}</p>
     <p>Total Problems: {{ profile.total_problems }}</p>
     <p>Coins: {{ profile.num_coins }}</p>
     <p>Personal Goal: {{ profile.personal_goal }}</p>
     <p> Number of Followers: {{ friends | length }} </p>

     <div> 
          <p style="font-weight:bold;"> Friends: </p>
          {% for friend in friends %}
          <li style="margin: 10px;"> {{ friend.lc_username }} </li>
          {% endfor %}
     </div>

    <!-- RIGHT COLUMN -->
    <div class="right-col">
        <h2>Friends</h2>
        <ul class="friend-list">
            {% for friend in friends %}
                <li>
                    <a href="{{ url_for('profile', pid=friend.pid) }}">
                         {{ friend.name }} ({{ friend.lc_username }})
                    </a>
               </li>
            {% endfor %}
        </ul>
    </div>
<script>
document.addEventListener("DOMContentLoaded", () => {
    const refreshLink = document.querySelector("a.btn[href*='refresh_profile']");
    if (refreshLink) {
        refreshLink.addEventListener("click", () => {
            document.body.style.cursor = "wait";
        });
    }
});
</script>
</div>
{% endblock %}
