{% extends "base.html" %}

{% block main_content %}
<h1> {{ profile.name }} ({{ profile.username }})</h1>

<div id="profile-columns">

    <!-- LEFT COLUMN -->
    <div class="left-col">
        <h2>Profile</h2>
        <img src="{{ url_for('uploaded_file', filename=profile.filename) if profile.filename else url_for('static', filename='default_pfp.jpg') }}" alt="Profile Picture">

        <ul class="profile-list">
            <li><strong>Name:</strong> {{ profile.name }}</li>
            <li><strong>Username:</strong> {{ profile.username }}</li>
            <li><strong>Leetcode Username:</strong> {{ profile.lc_username }}</li>
            <li><strong>Latest Submission:</strong> {{ profile.latest_submission }}</li> 
            <li><strong>Current Streak:</strong> {{ profile.current_streak }}</li>
            <li><strong>Longest Streak:</strong> {{ profile.longest_streak }}</li>
            <li><strong>Total Problems:</strong> {{ profile.total_problems }}</li>
            <li><strong>Coins:</strong> {{ profile.num_coins }}</li>
            <li><strong>Personal Goal:</strong> {{ profile.personal_goal }}</li>
        </ul>
        {% if loggedin %}
        <a class="btn" name="action" value="edit_profile" href="{{ url_for('edit_profile', pid=profile.pid) }}">
            Edit Profile
       </a> 

       <br><br>
        <form method="POST" action="{{ url_for('refresh_my_stats', next=url_for('profile', pid=profile.pid)) }}"
            onsubmit="this.querySelector('button').disabled = true;
                        this.querySelector('button').innerText = 'Refreshing…';
                        document.body.style.cursor='wait';">
            <button type="submit" class="btn">
                Refresh Leetcode Stats
            </button>
        </form>

        {% if profile.last_refreshed %}
            <p><em>Last refreshed: {{ profile.last_refreshed.strftime("%b %d, %Y %H:%M") }}</em></p>
        {% else %}
            <p><em>Stats never fetched before.</em></p>
        {% endif %}

        <a class="btn" href="{{ url_for('logout') }}">Log Out</a>
        {% endif %}

        <!--get option to unfollow/follow for the person's page you're on-->
        {% if loggedin != None and not loggedin and not is_following %}
        <!--first check if has session, then check if its your own page, then check you follow-->
        <form action="{{ url_for('profile', pid=profile.pid) }}" 
            method="POST" 
            style="display:inline;">
            <input type="hidden" name="follow_friend_out" value="{{ profile.pid }}">
            <button type="submit" class="btn" name="action" value="Follow_out">Follow</button>
        </form>
        {% endif %}
        {% if loggedin != None and not loggedin and is_following %}
        <form action="{{ url_for('profile', pid=profile.pid) }}" 
            method="POST" 
            style="display:inline;">
            <input type="hidden" name="unfollow_friend_out" value="{{ profile.pid }}">
            <button type="submit" class="btn" name="action" value="Unfollow_out">Unfollow</button>
        </form>
        {% endif %}
    </div>

    <!-- RIGHT COLUMN -->
    <div class="right-col">
        <h2>Followers</h2>
        <ul>
            {% for follower in followers %}
                <li>
                    <div class="user-wrapper people-user-cell" tabindex="0">
                        <span>{{ follower.name }} ({{ follower.username }})</span>
                        <div class="user-popover">
                            <a href="{{ url_for('profile', pid=follower.pid) }}">
                                View LeetParty Profile
                            </a>
                            <a href="https://leetcode.com/u/{{ follower.username }}/"
                            target="_blank" rel="noopener">
                                View LeetCode Profile
                            </a>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

    <!-- RIGHT COLUMN -->
    <div class="right-col">
        <h2>Following</h2>
        <ul>
            {% for followed_user in follows %}
                <li>
                    <div class="user-wrapper people-user-cell" tabindex="0">
                        <span>{{ followed_user.name }} ({{ followed_user.username }})</span>
                        <div class="user-popover">
                            <a href="{{ url_for('profile', pid=followed_user.pid) }}">
                                View LeetParty Profile
                            </a>
                            <a href="https://leetcode.com/u/{{ followed_user.username }}/"
                            target="_blank" rel="noopener">
                                View LeetCode Profile
                            </a>
                        </div>

                        <!-- Unfollow button -->
                        {% if loggedin %}
                            <form action="{{ url_for('profile', pid=profile.pid) }}" 
                                method="POST" >
                                <input type="hidden" name="unfollow_friend" value="{{ followed_user.pid }}">
                                <button class="btn btn-sm" type="submit" name="action" value="Unfollow">
                                    Unfollow
                                </button>
                            </form>
                        {% endif %}
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>

</div>
{% endblock %}
