{% extends "base.html" %}

{% block main_content %}
<h1>Create Account</h1>

  <form action="{{ url_for('signup') }}" method="POST">
    <fieldset>
      <label for="name">Name</label><br>
      <input type="text" id="name" name="name" required><br><br>

      <label for="username">Username</label><br>
      <input type="text" id="username" name="username" required><br><br>

      <label for="password1">Password</label><br>
      <input type="password" id="password1" name="password1" required><br><br>

      <label for="lc_username">LeetCode Username</label><br>
      <input type="text" id="lc_username" name="lc_username" required><br><br>

      <button type="submit" class="btn">Create Account</button>
    </fieldset>
  </form>

  <p>Already have an account? <a href="{{ url_for('login') }}">Log in here</a></p>


{% endblock %}
